@model Greenslate.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>@Resources.StringResources.Index_Title</h1>
    <p class="lead">@Resources.StringResources.Index_SelectUserText</p>
</div>

@Html.Label(@Resources.StringResources.Index_SelectUserDropdown)
@Html.DropDownList("FromModel", Model.Names, "--", new { id = "UserSelect",  @class = "selectpicker" })

<div id="NoContentMessage" class="container-fluid h3">
    <p class="text-center bg-info">@Resources.StringResources.Index_NoContentMessage</p>
</div>

<div id="ErrorMessage" class="container-fluid h3 hidden">
    <p class="text-center bg-danger">@Resources.ErrorResources.Index_ErrorMessage</p>
</div>

<table id="MainTable" class="table table-hover hidden">
    <thead>
        <tr>
            <th scope="col">@Resources.StringResources.Index_MainTable_ProjectId</th>
            <th scope="col">@Resources.StringResources.Index_MainTable_StartDate</th>
            <th scope="col">@Resources.StringResources.Index_MainTable_TimeToStart</th>
            <th scope="col">@Resources.StringResources.Index_MainTable_EndDate</th>
            <th scope="col">@Resources.StringResources.Index_MainTable_Credits</th>
            <th scope="col">@Resources.StringResources.Index_MainTable_Status</th>
        </tr>
    </thead>
    <tbody id="MainTableContent">
    </tbody>
</table>

